<div class="lens-upgrade-banner">
    <div class="lens-upgrade-banner__content">
        <div class="lens-upgrade-banner__icon">
            {{ svg(craft.app.plugins.getPlugin('lens').basePath ~ '/icon.svg')|attr({width: 24, height: 24}) }}
        </div>
        <div class="lens-upgrade-banner__text">
            <strong>{{ 'Lens Pro'|t('lens') }} &mdash; {{ 'Take full control of your media library'|t('lens') }}</strong>
            <span>{{ 'Browse, search, and filter every asset with the Asset Browser. Supercharge Craft\'s asset picker with metadata-driven search. Process entire volumes in bulk, detect duplicates, review every AI suggestion before it\'s applied, and much more.'|t('lens') }}</span>
        </div>
    </div>
    <a href="https://plugins.craftcms.com/lens" class="btn small submit" target="_blank">
        {{ 'Upgrade to Pro'|t('lens') }}
    </a>
</div>
